= simple_form_for(['admin', @item]) do |f|
  header.content-header.js-content-header
    == render 'fae/shared/form_header', header: @klass_name
  == render 'fae/shared/errors'

  main.content
    = fae_input f, :title
    = fae_input f, :message
    div.row
      div.col-4
        = fae_datepicker(f, :date, wrapper_class: "meridian-inline")
        div.date_time_group.meridian-inline
          = label_tag('Time')
          = select_tag('date_time', options_for_select(@times), class: "meridian-select-width")
    = fae_association f, :place

  javascript:
    $(document).ready(function(){

      $(".event_date").addClass("meridian-inline")

      var dateString = $("#event_date").val()
      time = getTimeFromString(dateString)
      $("#event_date").val(stripTime(dateString))
      $('#date_time').val(time)
    })

    $(".edit_event, #new_event.new_event").submit(function(e){
      console.log($(this).attr('class'))
      var time = getTimeFromSelect()
      var date = stripTime($("#event_date").val())
      $("#event_date").val(date + " " + time); 
    })

    function getTimeFromString(dateAndTime){
      var time = dateAndTime.match(/\d{1,2}:\d{2}(AM|PM|am|pm)$/g);
      return time ? time[0] : time
    }

    function getTimeFromSelect(){
      return $('#date_time').find(":selected").val();
    }

    function stripTime(dateAndTime){
      var time = getTimeFromString(dateAndTime)
      return time ? dateAndTime.replace(time, "").trim() : dateAndTime
    }

