<div class="item active">
    <blockquote class="quote">                                  
        <span class='label label-warning'>
            <i class="fa fa-info-circle" ></i> Public Notice
        </span>
        <h4>
            <%= public_notice.title %>
            <small><%= public_notice.description %></small>
        </h4>
    <div class="row">
        <p class="people col-md-8 col-sm-3 col-xs-8"><span class="text-success"><%= public_notice.organization_name %></span><br /><span class="title"><%= public_notice.start_date.strftime("%b %e, %Y") %></span></p>
        <!-- insert organization logo
            <img class="profile col-md-4 pull-right" src="assets/images/testimonials/profile-1.png"  alt="" />
        -->
    </div>                               
    </blockquote>                
</div><!--//item-->