        <section class="bread-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Public Notices</h4>
                    </div>
                </div>
            </div>
        </section><!--.bread-wrap-->
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h5></h5>
                    <p class="lead">
                    </p>
                    <!--collapse-->
                    <% @public_notices.each_with_index do |public_notice, index| %>
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading light-grey">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#public_notice_<%= index %>">
                                        <%= public_notice.title %>
                                    </a>
                                </h4>
                            </div>
                            <div id="public_notice_<%= index %>" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <p><%= public_notice.description %></p>
                                </div>
                            </div>
                        </div>
                    </div><!--categories--> 
                    <% end %>
                </div><!--faqs sidebar col-->
            </div>
        </div><!--faq-container-->
        <div class="divide80"></div>