<div class='row'>
  <div class="col-md-2"></div>
  <div class='col-md-8 align-self-center'>
    <h3>Community Calendar</h3>
    <%= month_calendar events: @events, attribute: :date do |date, events| %>
      <%= date.day %>
      <% events.each do |event| %>
        <div>
          <%= link_to truncate(event.title), "#", title: generate_tooltip_content(event), data: { toggle:"tooltip",placement:"top", html: 'true'} %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-2"></div>
</div>
<script>

</script>