<div class='row'>
  <div class="col-md-2"></div>
  <div class='col-md-8 align-self-center'>
    <h3>Community Calendar</h3>
    <%= month_calendar events: @events, attribute: :date do |date, events| %>
      <%= date.day %>
      <% events.each do |event| %>
        <div>
          <%= link_to truncate(event.title), event_path(event) %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-2"></div>
</div>