<div class='row'>
  Hellooooooo
  <div class='col-lg-10'>
    <%= month_calendar events: @events do |date, events| %>
      Hello <%= date %>
      <% events.each do |event| %>
        <div>
          <%= event.title %>
        </div>
      <% end %>
    <% end %>
  </div>