<div class="col-md-4 news-item">
    <h2 class="title"><%= news_item.title %></h2>
    <%= image_tag news_item.image.asset.url if news_item.image.present? && news_item.image.asset.present? %>
    <p><%= truncate news_item.content.html_safe, length: 150 %></p>
</div>
