<div class="divide80"></div>
<div class="container error-page">
    <div class="row">               
        <div class="col-md-12 text-center">
            <div class="error-digit wow animated fadeInUp">
                Oops!
            </div>
            <div class="divide40"></div>
            <h3>Something went wrong. The City of Meridian has been notified.</h3>
        </div>
    </div>
</div>