<section class="bread-wrap">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h4>error 500</h4>
            </div>
            <div class="col-sm-6 hidden-xs text-right">
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li>Error 500</li>
                </ol><!--breadcrumb-->
            </div>
        </div>
    </div>
</section><!--.bread-wrap-->
<div class="divide80"></div>
<div class="container error-page">
    <div class="row">               
        <div class="col-md-12 text-center">
            <div class="error-digit wow animated fadeInUp">
                500
            </div>
            <div class="divide40"></div>
            <h3>Oops, there was a problem with your request.</h3>
        </div>
    </div>
</div>