<div class="divide80"></div>
<div class="container error-page">
    <div class="row">               
        <div class="col-md-12 text-center">
            <div class="error-digit wow animated fadeInUp">
                Not Found
            </div>
            <div class="divide40"></div>
            <h3>The page you're looking for couldn't be found.</h3>
        </div>
    </div>
</div>