

<div class="container-fluid">
  <div class="row intro">
    <div class="col-md-6 col-sm-8 intro-left"> 
      <div class="intro-left-content">
        <p> <img src="img/logo.png" alt="Template Logo"></p>
        <h1>Coming Soon.</h1>
        <p class="lead">The City of Meridian is working hard to bring you online services and a place to go for all things Meridian.  Check us out in the coming weeks. </p>
        <p class="social">
          <%= link_to "<i class=\"fa fa-facebook\"></i>".html_safe, "https://www.facebook.com/meridiantx", class: "external facebook" %>
          <%= link_to "<i class=\"fa fa-envelope\"> </i>".html_safe, "mailto:info@meridiantexas.us", class: "email" %>
        </p>
        <p class="credit">Template by <a href="https://bootstrapious.com/coming-soon-themes" class="external">Bootstrapious</a>  </p>
        <!-- Please do not remove the backlink to bootstrapious unless you support us at http://bootstrapious.com/donate. It is part of the license conditions. Thanks for understanding :) -->
      </div>
    </div>
    <div style="background-image: url(<%= asset_url('courthouse-min.png') %>);" class="col-md-6 col-sm-4 intro-right background-gray"></div>
  </div>
</div>