// Do Not Delete this page! FAE depends on it in order to set its highlight color.
// $c-custom-highlight: #9aa142;

.col-10 {
  width: 75%;
  display: inline-block;
  padding-top: 20px;
}

.col-6 {
    width: 50%;
    display:inline-block;
    vertical-align: top;
}

.col-1 {
  width: 12.5%;
  display: inline-block;
}