
<div class="content container">
    <div class="page-wrapper">
        <header class="page-heading clearfix">
            <h1 class="heading-title pull-left">Community Organizations</h1>
        </header> 
        <div class="page-content">
            <div class="row page-row">
                <div class="jobs-wrapper col-md-8 col-sm-7"> 
                    <%= render @community_organizations %>
                    <%= paginate @community_organizations %>

                </div><!--//jobs-wrapper-->
                <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">      
                    <section class="widget">
                        <h3 class="title">Your Organization Missing?</h3>
                        <p>Send us an email and let us know!</p>
                        <p class="email"><i class="fa fa-envelope"></i>Email: <a href="mailto:marie@meridiantexas.us">marie@meridiantexas.us</a></p>
                    </section><!--//widget-->
                </aside>
            </div><!--//page-row-->
        </div><!--//page-content-->
    </div><!--//page--> 
</div><!--//content-->

