
<div class="content container">
    <div class="page-wrapper">
        <header class="page-heading clearfix">
            <h1 class="heading-title pull-left">Comunity Organizations</h1>
        </header> 
        <div class="page-content">
            <div class="row page-row">
                <div class="jobs-wrapper col-md-8 col-sm-7"> 
                    <%= render @organizations %>
                    <%= paginate @organizations %>
                                                         
                </div><!--//jobs-wrapper-->
                <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">      
                    <section class="widget has-divider">
                        <h3 class="title">Video tour</h3>
                        <iframe class="iframe" src="//www.youtube.com/embed/Ks-_Mh1QhMc?rel=0&amp;wmode=transparent" frameborder="0" allowfullscreen=""=""></iframe>
                    </section><!--//widget--> 
                    <section class="widget">
                        <h3 class="title">Contact</h3>
                        <p>Suspendisse mollis neque augue, vitae malesuada mi dictum quis. Ut mollis purus vel orci aliquam sagittis. Aliquam erat volutpat. </p>
                        <p class="tel"><i class="fa fa-phone"></i>Tel: 0800 123 4567</p>
                        <p class="email"><i class="fa fa-envelope"></i>Email: <a href="#">enquires@website.com</a></p>
                    </section><!--//widget-->
                </aside>
            </div><!--//page-row-->
        </div><!--//page-content-->
    </div><!--//page--> 
</div><!--//content-->

