<div class="col-md-3">
    <section class="events">
        <h1 class="section-heading text-highlight"><span class="line">Events</span></h1>
        <div class="section-content">
          <% @events.each do |event| %>
            <%= render partial: "mini_event", object: event %>
          <% end %>
            <a class="read-more" href="events.html">All events<i class="fa fa-chevron-right"></i></a>
        </div><!--//section-content-->
    </section><!--//events-->
</div><!--//col-md-3-->