<section class="main-slider">
    <div class="flexslider">
        <ul class="slides">
            <li style="background: url(<%= asset_path('clock-tower-flag.jpg') %>); background-size: cover; background-repeat: no-repeat; background-position: 2%">
                <div class="slider-text">
                    <div class="inner">
                        <div class="container text-center">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <h1>Welcome to Meridian</h1>
                                    <p>Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit. Lorem ipsum dolor sit amet, consectetur.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </li>
        </ul>
    </div>
</section>
<section class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="heading">Recent News</h3>
            </div>                   
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="work-carousel" class="owl-carousel owl-spaced">
                    <% @news_items.each do |news_item| %>
                    <div>
                        <a href="portfolio-single.html">
                            <div class="item-img-wrap ">
                                <%= image_tag(news_item.image.asset.url, alt: "workimg", class: 'img-responsive') %>
                                <div class="item-img-overlay">
                                    <span></span>
                                </div>
                            </div>                       
                        </a><!--work link-->
                        <div class="work-desc">
                            <i class="fa fa-twitter"></i>
                            <h5><a href="#"><%= news_item.title %></a></h5>
                        </div><!--work desc-->
                    </div><!--owl item-->
                    <% end %>
                </div>
            </div>
        </div><!--row-->
        <div class="divide30"></div>
        <div class="row">
            <div class="col-md-12 text-center">
                <a href="#" class="btn border-black wow animated fadeInUp"> Load More Projects</a>
            </div>
        </div>
    </div><!--container-->
</section><!--recent work section -->
<section class="parallax process-rounded" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class='skincolor'>Quick Links</h3>
            </div> 
        </div>
        <div class="row">
            <div class="col-md-3 margin20">
                <div class="process-box">
                    <a href="#">
                        <i class="fa fa-users"></i>
                        <h4 class='skincolor'>City Council</h4>
                    </a>
                </div><!--process box-->
            </div><!--process col-->
            <div class="col-md-3 margin20">
                <div class="process-box">
                    <a href="#">
                        <i class="fa fa-tint"></i>
                        <h4 class='skincolor'>Pay Your Water Bill</h4>
                    </a>
                </div><!--process box-->
            </div><!--process col-->
            <div class="col-md-3 margin20">
                <div class="process-box">
                    <a href="#">
                        <i class="fa fa-bars"></i>
                        <h4 class='skincolor'>City Ordinances</h4>
                    </a>
                </div><!--process box-->
            </div><!--process col-->
        </div>
    </div>
</section><!--process rounded-->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 margin30">
                <div class="footer-col">
                    <h3 class="heading">About</h3>
                    <p>
                        Meridian, Texas - Top of the Hill Country
                    </p>
                    <ul class="address-info list-unstyled">
                        <li>
                            <i class="fa fa-home"></i> 
                            111 Main Street, Meridian, TX 76665
                        </li>  
                        <li>
                            <i class="fa fa-phone"></i> 
                            (254) 435-2381
                        </li>  
                        <li>
                            <i class="fa fa-envelope"></i> 
                            <a href="#">info@meridiantexas.us</a>
                        </li>
                        <li>
                            <i class="fa fa-facebook" data-toggle="tooltip" title="" data-original-title="Facebook" data-placement="top"></i>
                            <a href="https://www.facebook.com/meridiantx">meridiantx</a>
                        </li> 
                    </ul>
                </div>
            </div>
            <div class="col-md-3 margin30">
                <div class="footer-col">
                    <img src="https://maps.googleapis.com/maps/api/staticmap?center=Meridian,Texas&zoom=10&size=200x200&key=AIzaSyAbCF00Hq53Y3_8ixi4svCfvzT-XMNaW34">
                </div>
            </div><!--footer col-->
        </div>
    </div>
</footer><!--footer end-->