<div style="background-color: #f5f4f4">
    <section class="bread-wrap"  style="background-color: #f5f4f4">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h3 class='heading'>Visit Meridian</h3>
                </div>
            </div>
        </div>
    </section><!--.bread-wrap-->
    <div class="container">
        <div class="row">
            <div class="col-md-3 margin30">
                <ul class="list-unstyled side-nav nav nav-pills nav-stacked">
                    <li class='active'><a class='nav-link' data-toggle='pill' href="#attractions"><i class="fa fa-bars"></i>Attractions</a></li>
                    <li><a class='nav-link' data-toggle='pill' href="#sports-outdoors"><i class="fa fa-ball"></i> Sports/Outdoors</a></li>
                    <li><a class='nav-link' data-toggle='pill' href="#shopping"><i class="fa fa-shopping-bag"></i> Shopping</a></li>
                    <li><a class='nav-link' data-toggle='pill' href="#dining"><i class="fa fa-cutlery"></i> Dining</a></li>
                    <li><a class='nav-link' data-toggle='pill' href="#annual-events"><i class="fa fa-calendar"></i> Annual Events</a></li>
                    <li><a class='nav-link' data-toggle='pill' href="#county"><i class="fa fa-map"></i> Bosque County</a></li>
                </ul>
            </div><!--sidenav col-->
            <div class='tab-content'>
                <div class="col-md-9 tab-pane" id="attractions"">
                    <p class='lead'>
                         Come visit and enjoy our many amenities including first rate restaurants, unique shopping experiences, abundant hunting and fishing, excellent library services, enjoyable local parks and lakes, great tasting barbecue at our annual cook-off or just relaxing in our quiet and beautiful countryside.
                    </p>
                </div>
                <div class="col-md-8 tab-pane" id="sports-outdoors">
                    <p class='lead'>
                         Golf a round at Bosque Valley Country Club or spend the day kayaking and Meridian State Park - either way, time well spent.
                    </p>
                </div>
                <div class="col-md-8 tab-pane" id="shopping">
                    <p class='lead'>
                         Shop our many stores on Main Street and find something that brings Meridian home with you.
                    </p>
                </div>
                <div class="col-md-8 tab-pane" id="dining">
                    <p class='lead'>
                         Enjoy good eats with family and friends any meal of the day.
                    </p>
                </div>
                <div class="col-md-8 tab-pane" id="annual-events">
                    <p class='lead'>
                         Calendar
                    </p>
                </div>
                <div class="col-md-8 tab-pane" id="county">
                    <p class='lead'>
                         County stuff
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>